#root {
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
}

.logo {
  height: 5em;
  padding: 0.1rem 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.text-iron {
  color: #0a035a;
}


.card {
  border: 2px solid rgb(121, 45, 203);
  background-color: white;
  padding: 20px;
  margin: 20px;
  width: 80%;
  display: flex;
  border-radius: 24px;

  
}

.card img {
  width: 50%;
  height: auto;
  margin-bottom: 10px;
  margin-right: 20px;
  border: 2px solid rgb(121, 45, 203);

  border-radius: 24px;

}

.information{
  display: flex-start;
  flex-direction: row;
  text-align: left;
  gap: 30px;
  height: fit-content;
}

.premium-label{
  background-color: rgb(84, 105, 212);
  border-radius: 24px;
  font-size: 14px;
  padding: 8px 12px;
  color: white;


}

.great-label{
  background-color: green;
  border-radius: 24px;
  font-size: 14px;
  padding: 8px 12px;
  color: white;
}

.inclusive-label{
  background-color: rgb(84, 105, 212);
  border-radius: 24px;
  font-size: 14px;
  padding: 8px 12px;
  color: white;
  width: auto;
  margin-left: 20px;
}



