#root {
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
}

.logo {
  height: 5em;
  padding: 0.1rem 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.text-iron {
  color: #0a035a;
}


.card {
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
  width: 80%;
  display: flex;
}

.card img {
  width: 50%;
  height: auto;
  margin-bottom: 10px;
  margin-right: 20px;
}

.information{
  display: flex;
  flex-direction: column;
  text-align: left;
}

.premium-label{
  background-color: rgb(84, 105, 212);
  border-radius: 4px;
  font-size: 14px;
  padding: 4px 8px;

}

.great-label{
  background-color: green;
  border-radius: 4px;
  font-size: 14px;
  padding: 4px 8px;
}

.inclusive-label{
  background-color: rgb(84, 105, 212);
  border-radius: 4px;
  font-size: 14px;
  padding: 4px 8px;
}



